body {
    font-family: Arial, sans-serif;
    background-color: #251e36;
    color: white;
    text-align: center;
    padding: 20px;
}
.section {
    padding: 15px;
    margin-top: 20px;
}
.main {
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    padding:15px;
}
.border1 {
    padding:3px;
    border: 4px solid white;
    border-radius: 30px;
    box-shadow: 0 0 10px white;
}
.border2 {
    padding:3px;
    border: 4px solid white;
    border-radius: 25px;
    box-shadow: 0 0 10px white;
}
.border3 {
    padding:3px;
    border: 4px solid white;
    border-radius: 20px;
    box-shadow: 0 0 10px white;
}
.border {
    border: 2px solid #dddddd;
    width: 90%;
    margin-left: 5%;
}
.footer-content {
    padding: 15px;
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    color: #869686;
    border-top: 1px solid #a6a6a6;
    padding-top: 10px;
}
.contact {
    flex: 1;
}
.contact h4 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
}
.contact p {
    font-size: 14px;
    color: #bbb;
    margin: 5px 0;
}
.list {
    width: 30%;
    margin-left: 35%;
}
.list ul {
    text-align: left;
}
a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 14px;
}
a:hover {
    color: #d5d5ff;
}
.links ul {
    list-style: none;
    padding: 0;
}
.links ul li {
    margin-bottom: 5px;
}

.links ul li a {
    color: #bbb;
    text-decoration: none;
    font-size: 14px;
}
.links ul li a:hover {
    color: #fff;
}

/* table stuff */
.table-wrapper {
    width: 70%;
    margin-left: 15%;
}
.toolbar {
    background-color: rgb(63,81,181);
    color: rgba(255,255,255,0.87);
    border-radius: 32px 32px 0 0;
    width: 100%;
}
.tools {
    display: flex;
    height: 64px;
    max-height: 64px;
    font-weight: 400;
    padding: 25px 16px 0 16px;
    align-items: center;
}
.tools .title {
    margin-left: 5%;
    font-size: 24px;
}
.tools span {
    width: 100%;
}
.tool-item {
    padding-right: 5%;
}
.tools a {
    color: rgba(255, 255, 255, 0.87);
    font-size: 24px;
    cursor: pointer;
}
.table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}
.table tbody tr:hover, .table tbody tr:focus {
    cursor: pointer;
    background-color: rgba(63,81,181,0.2);
}
.table th {
    border-bottom: 1px solid rgb(230, 230, 230);
    color: rgb(130, 130, 130);
    text-align: left;
    padding: 16px 16px 16px 0;
}
.table td {
    white-space: nowrap;
    padding: 16px 32px 16px 0;
    height: 40px;
    color:  rgba(0, 0, 0, 0.87);
    text-align: left;
}
.thumb {
    max-width: 104px;
    width: 104px;
    padding: 0 32px 0 8px;
}
.thumb div {
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-size: cover;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}
.table .left {
    padding-left: 16px;
}
.hideme.hidden {
    max-height: 0px;
    display: inherit;
    transition: max-height .5s cubic-bezier(.79,.14,.15,.86);
    overflow: hidden;
}
.hideme {
    max-height: 1000px;
    transition: max-height .5s cubic-bezier(.79,.14,.15,.86);
    overflow: hidden;
}

/* song stuff */
.box {
    width: 600px;
    margin-left: calc((100% - 600px) / 2);
}
.artist {
    display: flex;
    align-items: center;
    padding: 16px;
}
.artist .thumb {
    width: 40px;
    max-width: 40px;
}
.artist span {
    padding-right: 8px;
}
.box .vid {
    padding: 16px;
}

/* about us stuff */
.info-card {
    width: 70%;
    margin-left: 15%;
    background-color: #444;
    display: flex;
    flex-direction: horizontal;
    margin-top: 16px;
    padding: 8px;
    border-radius: 20px;
    align-items: center;
}
.info-card div {
    width: 100%;
    text-align: left;
}
.info-card p {
    padding: 8px 12px;
}
.info-card img {
    width: 8%;
    margin-left: 8px;
    border: 2px solid #222528;
    border-radius: 10px;
}

.bold {
    font-weight: 700;
}
.hidden {
    display: none;
}
